BILLGANGBOT_DB_HOST =
BILLGANGBOT_DB_USERNAME =
BILLGANGBOT_DB_PASSWORD =
BILLGANGBOT_DB_NAME =
BILLGANGBOT_BOT_TOKEN =
BILLGANGBOT_API_KEY =
BILLGANGBOT_STORE_ID =
BILLGANGBOT_7188 =
BILLGANGBOT_1796 =
BILLGANGBOT_LUCIFER_IP =
BILLGANGBOT_LUCIFER_PORT =
BILLGANGBOT_LUCIFER_AUTH =